// .todo-nums {
//     display: flex;
//     justify-content: space-around;
//     margin-bottom: 20px;
// }

// .todo-nums-total,
// .todo-nums-completed,
// .todo-nums-incomplete {
//     font-size: 3rem;
//     font-weight: 700;
//     padding-top: 10px;
// }

// .todo-nums-total {
//     color: var(--white);
//     font-size: 3.2rem;
//     padding-top: 0px;
// }
// .todo-nums-completed {
//     color: var(--green);
// }
// .todo-nums-incomplete {
//     color: var(--red);
// }

// .todo-get {
//     display: flex;
//     gap: 3px;
//     margin-bottom: 10px;
// }

// .todo-get input {
//     flex-grow: 1;
//     background: rgb(255, 255, 255);
//     border: none;
//     border-radius: 5px;
//     padding: 5px;
// }

// .todo-get button {
//     background: none;
//     border: 1px solid var(--white);
//     border-radius: 5px;
//     color: var(--white);
//     cursor: pointer;
//     padding: 5px;
// }

// .todo-list {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
// }
// .todo-item {
//     display: flex;
//     gap: 2px;
//     padding: 0 5px;
//     align-items: center;
//     border: 1.5px solid var(--white);
//     border-radius: 5px;
// }

// .todo-item-title {
//     padding-right: 7px;
//     border-right: 1px solid var(--white);
//     flex-grow: 1;
//     background: none;
//     border: none;
//     color: white;
// }
// .todo-item-title.onEditing {
//     background-color: rgba(0, 0, 0, 0.3);
//     border-radius: 5px;
// }

// .todo-item-title.done {
//     text-decoration: line-through;
//     opacity: 0.6;
// }

// .todo-item-edit,
// .todo-item-status,
// .todo-item-delete {
//     cursor: pointer;
//     text-underline-offset: 3px;
//     padding: 5px;
//     background: transparent;
//     border: none;
// }
// .todo-item-edit:hover,
// .todo-item-status:hover,
// .todo-item-delete:hover {
//     text-decoration: underline;
// }

// .todo-item-edit {
//     color: var(--yellow);
// }
// .todo-item-status.done {
//     color: var(--orange);
// }
// .todo-item-status.undone {
//     color: var(--green);
// }

// .todo-item-delete {
//     color: var(--red);
// }

.todo {
    --dark-bg: rgb(40 61 78);
    --red: rgb(230, 80, 80);
    --gray: rgb(151, 151, 151);
    --green: rgb(108, 205, 108);
    --white: white;
    --yellow: rgb(250, 250, 143);
    --orange: rgb(254, 182, 105);
    --blue: rgb(122, 172, 211);

    width: min(80%, 600px);
    background-color: rgba(54, 54, 54, 0.9);
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0px 0px 5px 2px rgba(7, 7, 7, 0.3);

    &Wrapper {
        position: fixed;
        inset: 0 0 0 0;

        overflow: auto;
        background-image: url(../../assets/todo-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &Nums {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    &NumsTotal,
    &NumsCompleted,
    &NumsIncomplete {
        font-size: 6rem;
        font-weight: 700;
        padding-top: 10px;
    }

    &NumsTotal {
        color: var(--gray);
        font-size: 7rem;
        padding-top: 0px;
    }

    &NumsCompleted {
        color: var(--green);
    }

    &NumsIncomplete {
        color: var(--red);
    }

    &Get {
        display: flex;
        gap: 3px;
        margin-bottom: 10px;

        input {
            flex-grow: 1;
            background: rgb(255, 255, 255);
            border: none;
            border-radius: 5px;
            padding: 5px;
        }

        button {
            background: none;
            border: 1px solid var(--white);
            border-radius: 5px;
            color: var(--white);
            cursor: pointer;
            padding: 5px;
        }
    }

    &List {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &Item {
        display: flex;
        gap: 2px;
        padding: 0 5px;
        align-items: center;
        border: 1.5px solid var(--white);
        border-radius: 5px;

        &Title {
            padding-right: 7px;
            border-right: 1px solid var(--white);
            flex-grow: 1;
            background: none;
            border: none;
            color: white;

            &.onEditing {
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 5px;
            }

            &.done {
                text-decoration: line-through;
                opacity: 0.6;
            }
        }

        &Edit,
        &Status,
        &Delete {
            cursor: pointer;
            text-underline-offset: 3px;
            padding: 5px;
            background: transparent;
            border: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &Edit {
            color: var(--yellow);
        }

        &Status.done {
            color: var(--orange);
        }

        &Status.undone {
            color: var(--green);
        }

        &Delete {
            color: var(--red);
        }
    }
}
